@model ResultLocationDto
@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_HeadUILayoutComponentPartial")

<body>

    @await Component.InvokeAsync("_NavbarUILayoutComponentPartial")

    @await Component.InvokeAsync("_BannerComponentPartial")

    <section class="ftco-section ftco-no-pt bg-light">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-12	featured-top">
                    <div class="row no-gutters">
                        <div class="col-md-4 d-flex align-items-center">
                            <form method="post" class="request-form ftco-animate bg-primary">
                                <h2>Şimdi Aracınızı Kiralayın</h2>
                                <div class="form-group">
                                    <label for="" class="label">Alınacak Lokasyon</label>
                                    @Html.DropDownListFor(x => x.ID, (List<SelectListItem>)ViewBag.v, new { @class = "form-control", @id = "drop" })
                                </div>

                                <div class="d-flex">
                                    <div class="form-group mr-2">
                                        <label for="" class="label">Alış Tarihi</label>
                                        <input type="text" class="form-control" name="book_pick_date" id="book_pick_date" placeholder="Tarih Seçiniz">
                                    </div>
                                    <div class="form-group ml-2">
                                        <label for="" class="label">İade Tarihi</label>
                                        <input type="text" class="form-control" name="book_off_date" id="book_off_date" placeholder="Tarih Seçiniz">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="label">Alış Saati</label>
                                    <input type="text" class="form-control" name="time_pick" id="time_pick" placeholder="Saat Seçiniz">
                                </div>
                                <div class="form-group">
                                    <label for="" class="label">İade Saat</label>
                                    <input type="text" class="form-control" name="time_off" id="time-off" placeholder="Saat Seçiniz">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-secondary py-3 px-4">Uygun Araçları Listele</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-8 d-flex align-items-center">
                            <div class="services-wrap rounded-right w-100">
                                <h3 class="heading-section mb-4">Araç Kiralamanın En Basit Yolu</h3>
                                <div class="row d-flex mb-4">
                                    <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                                        <div class="services w-100 text-center">
                                            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-route"></span></div>
                                            <div class="text w-100">
                                                <h3 class="heading mb-2">Almak İstediğin Konumu Seç</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                                        <div class="services w-100 text-center">
                                            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-handshake"></span></div>
                                            <div class="text w-100">
                                                <h3 class="heading mb-2">En Uygun Araçları Gör</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                                        <div class="services w-100 text-center">
                                            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-rent"></span></div>
                                            <div class="text w-100">
                                                <h3 class="heading mb-2">Kiralamayı Tamamla, Hepsi Bu!</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p><a href="/CarPricing/Index/" class="btn btn-primary py-3 px-4">Araç Fiyat Listemizi Görün</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @await Component.InvokeAsync("_FeaturedCarComponentPartial")

    @await Component.InvokeAsync("_AboutUsComponentPartial")

    @await Component.InvokeAsync("_ServiceComponentPartial")

    @await Component.InvokeAsync("_BecomeADriverComponentPartial")

    @await Component.InvokeAsync("_TestimonialComponentPartial")

    @await Component.InvokeAsync("_GetLast3BlogsWithAuthorListComponentPartial")

    <section class="ftco-counter ftco-section img bg-light" id="section-counter">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                    <div class="block-18">
                        <div class="text text-border d-flex align-items-center">
                            <strong class="number" data-number="60">0</strong>
                            <span>Year <br>Experienced</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                    <div class="block-18">
                        <div class="text text-border d-flex align-items-center">
                            <strong class="number" data-number="1090">0</strong>
                            <span>Total <br>Cars</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                    <div class="block-18">
                        <div class="text text-border d-flex align-items-center">
                            <strong class="number" data-number="2590">0</strong>
                            <span>Happy <br>Customers</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                    <div class="block-18">
                        <div class="text d-flex align-items-center">
                            <strong class="number" data-number="67">0</strong>
                            <span>Total <br>Branches</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @await Component.InvokeAsync("_FooterUILayoutComponentPartial")

    @await Component.InvokeAsync("_ScriptUILayoutComponentPartial")
</body>
</html>