@model List<ResultBrandDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Marka Listesi</h4>
                        <p class="card-subtitle mb-4">
                            Arabalarla ilgili yeni Marka ekleme,
                            Marka listesi, 
                            Marka üzerinde düzenleme ve bir Markayı kaldırma işlemlerini
                            buradan gerçekleştirebilirsiniz.
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Marka Adı</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <th scope="row">@count</th>
                                            <td>@item.Name</td>
                                            <td>
                                                <a href="/Admin/AdminBrand/RemoveBrand/@item.ID"
                                                   class="btn btn-outline-danger">Sil</a>
                                            </td>
                                            <td>
                                                <a href="/Admin/AdminBrand/UpdateBrand/@item.ID"
                                                   class="btn btn-outline-success">Güncelle</a>
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a href="/Admin/AdminBrand/CreateBrand/" class="btn btn-outline-primary">Yeni Marka Girişi</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




