@model CreateSocialMediaDto
@{
    ViewData["Title"] = "CreateFeature";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Yeni Sosyal Medya Girişi</h4>
                        <p class="card-subtitle mb-4">
                            Sosyal medya ile ilgili temel bilgileri eksiksiz doldurmanız önemlidir. Veri girişlerinden sonra kaydet
                            butonuna tıklayarak işlemi tamamlayabilirsiniz.
                        </p>
                        <form method="post">
                            <div class="form-group">
                                <label for="exampleInputName">Sosyal Medya Adı</label>
                                <input type="text" class="form-control" id="exampleInputName" asp-for="Name">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputDesc">Sosyal Medya URL</label>
                                <textarea class="form-control" id="exampleInputDesc" asp-for="Url"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputIcon">Sosyal Medya Icon URL</label>
                                <input type="text" class="form-control" id="exampleInputIcon" asp-for="Icon">
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Sosyal Medyayı Kaydet</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


