@model List<ResultPricingDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Ödeme Türleri Listesi</h4>
                        <p class="card-subtitle mb-4">
                            Fiyatlandırmalarlarla ilgili ekleme, silme, güncelleme, arama ve listeleme
                            gibi işlemleri bu sayfada yapabilirsiniz.
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Ödeme Türü</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <th scope="row">@count</th>
                                            <td>@item.Name</td>
                                            <td>
                                                <a href="/Admin/AdminPricing/RemovePricing/@item.ID"
                                                   class="btn btn-outline-danger">Sil</a>
                                            </td>
                                            <td>
                                                <a href="/Admin/AdminPricing/UpdatePricing/@item.ID"
                                                   class="btn btn-outline-success">Güncelle</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a href="/Admin/AdminPricing/CreatePricing/" class="btn btn-outline-primary">Yeni Ödeme Türü Girişi</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

