@model List<ResultAdminCarWithBrandDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Araba Listesi</h4>
                        <p class="card-subtitle mb-4">
                            Arabalar ile ilgili ekleme, kaldırma, güncelleme işlemlerini burdan yönetebilirsiniz.
                        </p>

                        <table id="complex-header-datatable" class="table dt-responsive nowrap">
                            <thead class="thead-light">
                                <tr>
                                    <th>Marka</th>
                                    <th>Model</th>
                                    <th>Yıl</th>
                                    <th>Kilometre</th>
                                    <th>Sil</th>
                                    <th>Güncelle</th>
                                    <th>Detaylar</th>
                                    <th>Özellik Ata</th>
                                    <th>Sitede Gör</th>
                                    <th>Fiyat Bilgileri</th>
                                    <th>Fiyat Bilgileri</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.BrandName</td>
                                        <td>@item.Model</td>
                                        <td>@DateTime.Now.Year</td>
                                        <td>@item.Kilometer</td>
                                        <td>
                                            <a href="/Admin/AdminCar/RemoveCar/@item.ID"
                                               class="btn btn-outline-danger">Sil</a>
                                        </td>
                                        <td>
                                            <a href="/Admin/AdminCar/UpdateCar/@item.ID"
                                               class="btn btn-outline-success">Güncelle</a>
                                        </td>
                                        <td>
                                            <a href="/Admin/AdminCarFeatureDetail/Index/@item.ID"
                                               class="btn btn-outline-dark">Ek Özellikler</a>
                                        </td>
                                        <td>
                                            <a href="/Admin/AdminCarFeatureDetail/CreateFeatureByCarID"
                                               class="btn btn-outline-info">Özellik Ata</a>
                                        </td>
                                        <td>
                                            <a href="/Car/@item.ID"
                                               class="btn btn-outline-warning">Sitede Gör</a>
                                        </td>
                                        <td>
                                            <a href="/Admin/AdminCar/CarPrice/@item.ID"
                                               class="btn btn-outline-secondary">Fiyat Bilgileri</a>
                                        </td>
                                        <td>
                                            <a href="/Admin/AdminCar/CarPrice/@item.ID"
                                               class="btn btn-outline-secondary">Fiyat Bilgileri</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <a href="/Admin/AdminCar/CreateCar/" class="btn btn-outline-primary">Yeni Araç Girişi</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

