@model GetBlogByAuthorIdDto

<div class="about-author d-flex p-4 bg-light">
    <div class="col-md-4">
        <div class="bio mr-5">
            <img src="@Model.AuthorImageUrl" alt="Image placeholder" class="img-fluid mb-4">
        </div>
    </div>
    <div class="col-md-8">
        <div class="desc">
            <h3>@Model.AuthorName</h3>
            <p>@Model.AuthorDescription</p>
        </div>
    </div>
</div>